body {
  font-family: Poppins;
}
h1,
h2 {
  font-weight: bold;
}

.ukuran-form {
  border-radius: 50px;
  border: 1px solid rgb(41, 40, 40);
  height: 47px;
  width: 380px;
  border-color: #b5cdee;
  /*border-color: #3b86f7;
            box-shadow: 0px 0px 1px 2px rgba(75, 74, 74, 0.1);*/
}
signup {
  background-color: #e7eaf5;
  padding: 10px 45px;
  color: black;
  height: 47px;
  width: 380px;
}
.jarak {
  padding-left: 130px;
}
.image {
  margin-left: 130px;
}

.submit {
  background-color: #4d17e2;
  padding: 10px 45px;
}
